$fontFamily: 'Roboto';
$maxWidthContainer: 1300;
$containerPadding: 20;
$maxWidthLayout: 1920;
$backgroundColor: rgb(23, 52, 84);
$color: rgb(202, 217, 231);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
