@import '../../scss/modules/vars';
@import '../../scss/modules/functions';
@import '../../scss/modules/mixins';

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  min-height: toRem(40);
  @media (max-width: toEm($mobile)) {
    min-height: toRem(5);
  }
}
.header__wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 80;

  padding-top: toRem(40);
  padding-bottom: toRem(20);
  @media (max-width: toEm(1440.98)) {
    padding-top: toRem(30);
  }

  transition: padding 0.3s, box-shadow 0.3s, background-color 0.3s;

  &.scroll {
    background-color: rgba(23, 52, 84, 0.9);
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(23, 52, 84, 0.95);
      }
    }
    padding: toRem(15);
    box-shadow: 0 toRem(2) toRem(10) rgb(23, 52, 84);
  }
}
.menu__list {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: $backgroundColor;
  ul {
    gap: toRem(40);
    flex-direction: column;
  }

  pointer-events: none;
  transition: top 0.3s;

  &.open {
    top: 0%;
    padding-top: toRem(100);
    pointer-events: all;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(40);

  padding: toRem(20);

  @media (min-width: toEm($mobile)) {
    ul {
      gap: toRem(50);
      flex-direction: row;
    }
    position: static;
    background-color: transparent;
    pointer-events: all;
  }
}
.menu__link {
  font-size: toRem(20);
  color: rgb(243, 246, 250);

  @media (any-hover: hover) {
    transition: color 0.3s;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: toRem(2);
      background-color: rgba(243, 246, 250, 0.5);
      transform-origin: right;
      position: absolute;

      bottom: toRem(-4);

      left: 50%;
      transform: translateX(-50%) scaleX(0);
      transition: transform 0.3s;
    }
    &:hover {
      color: rgba(243, 246, 250, 0.5);
    }
    &:hover::before {
      transform: translateX(-50%) scaleX(1);
      transform-origin: left;
    }
  }

  @media (max-width: toEm($mobile)) {
    font-weight: 700;
    font-size: toRem(30);
  }
}
.menu__burger {
  @media (min-width: toEm($mobile)) {
    display: none;
  }
  display: flex;
  width: toRem(50);
  height: toRem(32);

  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;

  position: relative;
  z-index: 50;

  span {
    display: block;
    width: 100%;
    height: toRem(4);

    position: relative;

    border-radius: toRem(8);

    background-color: $white;

    transition: rotate 0.3s, scale 0.3s;
  }
  &.open span {
    &:nth-child(1) {
      rotate: -45deg;
      top: calc(50% - 2px);
    }
    &:nth-child(2) {
      scale: 0;
    }
    &:nth-child(3) {
      rotate: 45deg;
      bottom: calc(50% - 2px);
    }
  }
}
.svg {
  width: toRem(32);
  height: toRem(32);
  cursor: pointer;

  stroke: $white;
  @media (any-hover: hover) {
    transition: stroke 0.3s;
    &:hover {
      stroke: rgba(243, 246, 250, 0.5);
    }
  }
}

.header__like,
.basket {
  span {
    background-color: rgb(255, 202, 16);
    border-radius: toRem(8);
    font-size: toRem(10);

    border-radius: 50%;
    aspect-ratio: 1/1;

    color: $white;

    padding: toRem(0) toRem(4);

    position: absolute;
    top: toRem(-6);
    right: toRem(-8);
  }
  svg {
    stroke: $white;
    cursor: pointer;
    @media (any-hover: hover) {
      transition: stroke 0.3s;
      &:hover {
        stroke: rgba(243, 246, 250, 0.5);
      }
    }
  }
}
// .header__basket {
//   span {
//     background-color: rgb(255, 202, 16);
//     border-radius: toRem(8);
//     font-size: toRem(10);

//     color: $white;

//     padding: toRem(3);

//     position: absolute;
//     top: toRem(-7);
//     right: toRem(-10);
//   }
//   stroke: $white;
//   cursor: pointer;
//   @media (any-hover: hover) {
//     transition: stroke 0.3s;
//     &:hover {
//       stroke: rgba(243, 246, 250, 0.5);
//     }
//   }
// }
.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(7, 20, 33, 0.62);
  z-index: 55;

  transition: background-color 0.3s;
}
.favorite {
  border-radius: toRem(20);

  padding: toRem(20);
  @media (min-width: toEm($mobile)) {
    padding: toRem(40);
  }

  background-color: rgb(23, 52, 84);

  @media (min-width: toEm($tablet)) {
    width: toRem(920);
  }
  @media (min-width: toEm(1440.98)) {
    width: toRem(1300);
    height: toRem(766);
  }

  overflow-y: auto;
}
.top {
  margin-bottom: toRem(20);
}
.favorite_title {
  color: rgb(243, 246, 250);
  @include adaptiveValue(font-size, 30, 20, $maxWidthContainer, 320);
}
.favorite_list {
  display: grid;
  gap: toRem(20);
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: toEm($mobile)) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: toEm($tablet)) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: toEm(1440.98)) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.close {
  svg path {
    stroke: rgb(202, 217, 231);
    transition: stroke 0.3s;
  }
  @media (any-hover: hover) {
    &:hover {
      svg path {
        stroke: rgb(0, 0, 0);
      }
    }
  }
}
:global {
  .popup-overlay {
    @media (max-width: toEm($tablet)) {
      padding-left: toRem(10);
      padding-right: toRem(10);
    }
  }
  /* animation */
}
