@import '../../scss/modules/vars';
@import '../../scss/modules/functions';
@import '../../scss/modules/mixins';

.search {
  flex-basis: toRem(415);
  padding: toRem(5);

  border-bottom: toRem(1) solid rgba(243, 246, 250, 0.5);

  @media (max-width: toEm(1440.98)) {
    width: 100%;
    background-color: $white;
    padding: toRem(16) toRem(20);
    border-radius: toRem(20);

    position: absolute;
    top: toRem(-100);
    left: toRem(0);
    z-index: 60;

    filter: opacity(0);
    visibility: hidden;

    transition: top 0.3s, filter 0.3s, visibility 0.3s;

    &.show {
      top: toRem(0);
      filter: opacity(1);
      visibility: visible;
    }
  }
}
.search.show {
  @media (max-width: toEm(1440.98)) {
    top: toRem(0);
    filter: opacity(1);
    visibility: visible;
  }
}
.search__line {
  width: 100%;
  height: toRem(1);
  background-color: rgb(23, 52, 84);

  position: absolute;
  bottom: toRem(-5);
  left: 0;
  z-index: 2;
}
.svg {
  width: toRem(15);
  height: toRem(15);

  stroke: $white;

  cursor: pointer;

  @media (max-width: toEm(1440.98)) {
    stroke: rgb(23, 52, 84);
  }
}
.input {
  display: inline-block;
  font-size: toRem(20);
  width: 100%;

  outline: none;

  &::placeholder {
    color: $color;
    font-weight: 300;

    transition: font-size 0.3s;
  }
  &:focus::placeholder {
    font-size: toRem(0);
  }

  @media (max-width: toEm(1440.98)) {
    color: rgb(23, 52, 84);
    &::placeholder {
      color: rgb(23, 52, 84);
    }
  }
}
