@import '../../scss/modules/vars';
@import '../../scss/modules/functions';
@import '../../scss/modules/mixins';

.question {
  margin-bottom: toRem(150);
  @media (min-width: toEm($mobileSmall)) {
    margin-bottom: toRem(220);
  }
  @media (min-width: toEm($mobile)) {
    margin-bottom: toRem(300);
  }
  @media (min-width: toEm($tablet)) {
    margin-bottom: toRem(340);
  }
  @media (min-width: toEm(1440.98)) {
    margin-bottom: toRem(320);
  }
}
.body {
  gap: toRem(40);
  justify-content: space-between;
  @media (min-width: toEm(1440.98)) {
    gap: toRem(200);
  }
}
.content {
  @media (min-width: toEm($mobile)) {
    flex-basis: toRem(386);
    flex-shrink: 0;
  }
  @media (min-width: toEm(1440.98)) {
    padding-top: toRem(124);
    flex-basis: toRem(506);
  }
}
.title {
  margin-bottom: toRem(10);
}
.text {
  line-height: calc(23 / 20);

  margin-bottom: toRem(20);
  font-size: toRem(18);
  @media (min-width: toEm(1440.98)) {
    font-size: toRem(20);
    margin-bottom: toRem(40);
  }
}
.to_catalog {
  @media (min-width: toEm($mobile)) {
    width: toRem(266);
    height: toRem(266);
  }
  width: toRem(192);
  height: toRem(192);

  span {
    @media (min-width: toEm($mobile)) {
      font-size: 25px;
    }
    font-size: toRem(20);
    line-height: calc(29 / 25);
    color: $white;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.form {
  margin-bottom: toRem(30);

  @media (min-width: toEm($mobileSmall)) {
    margin-bottom: toRem(40);
  }
}
.input {
  font-size: toRem(18);

  outline: none;

  padding-bottom: toRem(10);

  border-bottom: toRem(1) solid $color;

  &::placeholder {
    color: rgba(202, 217, 231, 0.7);
  }
}
.img {
  @media (max-width: toEm($mobile)) {
    display: none;
  }
  img {
    @media (max-width: toEm(1440.98)) {
      width: toRem(516);
    }
  }
}
.img_bg {
  img {
    @media (max-width: toEm(1440.98)) {
      width: toRem(1440);
    }
    @media (max-width: toEm($mobile)) {
      width: toRem(1000);
    }
  }
  position: absolute;

  pointer-events: none;

  left: toRem(0);
  top: toRem(-40);
  @media (min-width: toEm(320.98)) {
    top: toRem(-100);
  }
  @media (min-width: toEm($mobile)) {
    top: toRem(-250);
    left: toRem(0);
  }
  @media (min-width: toEm(1440.98)) {
    top: toRem(-480);
    left: toRem(0);
  }
}
